@import 'partials/_variables';

/**** Landing Page ****/

main {

    .intro {
        margin: 0;
        padding: 200px 420px;
        color: white;
        font-size: 60px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
    }
}

section {

    #myDIV1 {
        display: none;
    }

    #myDIV2 {
        display: none;
    }
}