@import 'partials/_variables';

/**** Landing Page ****/

main {

    .intro {
        margin: 0;
        padding: 200px 520px;
        color: white;
        font-size: 50px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
    }
}

/**** Content Styling ****/

.button-container {
    
}

section {

    #myDIV1 {
        display: none;
    }

    #myDIV2 {
        display: none;
    }

}