@import 'partials/_variables';

/**** Landing Page ****/

main {

    .intro {
        margin: 0;
        padding: 200px 150px;
        color: white;
        font-size: 50px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
    }
}

/**** Content Styling ****/

.container {

    .content {
        padding: 20px 0;
        font-size: 18px;

        #myDIV2 {

            p {
                padding: 20px 0;
            }

            .container {

                img {
                    width: 100%;
                }

                .col-sm {
                    padding: 28px 0;

                    p {
                        padding: 20px 0;
                    }
                }
            }

            .tracking {

                h1 {
                    text-align: center;
                }
            }
        }
    }
    
}


